<div class="meta-currency-content">
  <div class="meta-row">
    <span>{{localize "COGSYNDICATE.metacurrency.nemesisPoints"}}</span>
    <div class="meta-controls">
      <button type="button" class="nemesis-minus small-btn">-</button>
      <span class="meta-value">{{nemesisPoints}}</span>
      <button type="button" class="nemesis-plus small-btn">+</button>
    </div>
  </div>
  <div class="meta-row">
    <span>{{localize "COGSYNDICATE.metacurrency.steamPoints"}}</span>
    <div class="meta-controls">
      <button type="button" class="steam-minus small-btn">-</button>
      <span class="meta-value">{{steamPoints}}</span>
      <button type="button" class="steam-plus small-btn">+</button>
    </div>
  </div>
</div>