<div class="spend-points-dialog">
  <div class="dialog-content">
    <p>{{localize "COGSYNDICATE.metacurrency.spendSPDialog"}}</p>
    <!-- Tutaj będzie funkcjonalność wydawania punktów -->
  </div>
</div>
